# Assignment 1

In [1]:
##What is 7 to the power of 4?

In [2]:
7**4

2401

In [5]:
## Split this string:

#s = "Hi there Yogesh!"
    
# into a list.

In [6]:
s="Hi there Akshada!"

In [7]:
s.split()

['Hi', 'there', 'Akshada!']

In [8]:
# ** Given the variables:**

   # planet = "Earth"
  #  diameter = 12742

#* Use .format() to print the following string: **

In [9]:
planet="Earth"
diameter=12742

In [10]:
"the diameter of{} is {} kilometer.".format(planet,diameter)

'the diameter ofEarth is 12742 kilometer.'

In [11]:
#Given this nested list, use indexing to grab the word "hello" **

In [12]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [13]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [18]:
lst[3][1][2]

['hello']

In [19]:
#Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [20]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [21]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [22]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [26]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

### What is the main difference between a tuple and a list? **

In [28]:
# tuple is immutable

In [29]:
#list is immutable

### Create a function that grabs the email website domain from a string in the form: **

### user@domain.com
    
### So for example, passing "user@domain.com" would return: domain.com**

In [30]:
def find_domain(e):
    return e.split('@')[-1]

In [35]:
find_domain('akshadajadhav0405@gmail.com')

'gmail.com'

####  Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [44]:
def count_dog(d):
    return 'dog' in d.count('dog')

In [45]:
count_dog('dog is my favourite animal,daog,dog,dog')

TypeError: argument of type 'int' is not iterable

In [46]:
def fun2(s):
    c=0
    for v in s.lower().split():
        if v=='dog':
            c=c+1
    print(c)

In [48]:
fun2('dog dog dog')

3

#### Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

 ####   seq = ['soup','dog','salad','cat','great']

#### should be filtered down to:**

   ####  ['soup','salad']

In [49]:
seq = ['soup','dog','salad','cat','great']

In [55]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

#### Final Problem
#### You are driving a little too fast, and a police officer stops you. Write a function
  #### to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  #### If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  #### and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  #### cases. **

In [56]:
def catch_speed(speed,birthday):
    if birthday==True:
        new_speed=speed-5
    else:
         new_speed=speed
    if new_speed>80:
            return"big ticket"
    elif new_speed>60:
         return "small ticket"
    else:
         return "no ticket"

In [58]:
catch_speed(81,True)

'small ticket'

In [60]:
catch_speed(81,False)

'big ticket'

In [61]:
catch_speed(60,False)

'no ticket'

#### Question
#### Given a string print number num by extracting all the
#### digits from the string as in string
#### Print negative number if the first character in 
#### string is '-'
#### eg.
#### -123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678?--/

In [63]:
s=input("Enter the number:")
num=''
numbers=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    num=num+s[0]
for c in s:
    if c in str(numbers):
        num=num+c
print(num)

Enter the number:ab4ch67f89
46789

##### Q2
#### WAP to check whether a number is palindrome or not on following conditions.
#### 1. take input number
##### 2. add number and its reverse
#### 3. check that number is palindrome or not,if not then sum and its reverse

In [66]:
num1=input("Enter the number ")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    print("Number is:",num3)
    print("Reverse is:",num3[::-1])
    num3=str(int(num3)+int(num3[::-1]))
    print("number is:",num3)
    print("Reverse is:",num3[::-1])
    
print("palindrome is:",num3)

Enter the number 88
Number is: 176
Reverse is: 671
number is: 847
Reverse is: 748
Number is: 847
Reverse is: 748
number is: 1595
Reverse is: 5951
Number is: 1595
Reverse is: 5951
number is: 7546
Reverse is: 6457
Number is: 7546
Reverse is: 6457
number is: 14003
Reverse is: 30041
Number is: 14003
Reverse is: 30041
number is: 44044
Reverse is: 44044
palindrome is: 44044

#### Write a python function to find and display the five 
#### digit number in which the first digit is two more than the second,the second digit is two more than the third,
#### the fourth digit is two less than the third, and the 
#### last digit is two more than
#### the fourth.The sum of the third,fourth and fifth digits
#### equals the first.The sum of all the digits is 19

In [2]:
def find_five_digit_number():
    for c in range(9,0,-1):
        a = c + 4
        b = c + 2
        d = c - 2
        e = c
        if a == c + d + e:
            if a + b + c + d + e == 19:
                return (int(str(a) + str(b) + str(c) + str(d) + str(e)))

In [3]:
find_five_digit_number()

75313

In [4]:
pwd

'C:\\Users\\admin'